.prp-container {
  @include outer-container(10);
}

.pr-list-container {
  @include span-columns(2);
}

.pr-list-header {
  height: 30px;
  font-family: $header-font;
  font-size: 15px;
  font-weight: bold;
  margin: 3px 0;
}

.pr-list-card {
  font-family: $content-font;
  padding: 15px;
  background-color: #fff;
  border: 1px solid $black;
  text-align: center;
  @include span-columns(10);
  img {
    float: left;
    height: 25%;
    width: 25%;
  }
}

.pr-file-list-container {
  @include span-columns(6);
}

.pr-file-card {
  margin: 0 0 20px 0;
  border: 1px solid $black;

  .file-card-header, .file-card-patch {
    padding: 5px;
  }

  .file-card-header {
    background-color: $light;
    font-family: $header-font;
  }

  .file-card-patch {
    background-color: #fff;
  }
}
